# Environment
NODE_ENV=development

# Server
PORT=3001

# Database - Development (Docker local)
DATABASE_URL="mysql://chatapp_nestjs_nextjs:chatapp_nestjs_nextjs@localhost:3306/chat_db"

# JWT
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:3000
